%div.row
  %div.col-md-4
    %h2= t('profistory.views.list_all.works')
    %ul
      - @works.each do |work|
        %li
          %a{href:to("works/#{work.title_escaped}")}= work.title
    %p
      %a{href:to("works")}= t("profistory.views.list_all.more")
  %div.col-md-4
    %h2= t('profistory.views.list_all.users')
    %ul
      - @users.each do |user|
        %li
          %a{href:to("users/#{user.name}")}= user.screen_name
    %p
      %a{href:to("users")}= t("profistory.views.list_all.more")
  %div.col-md-4
    %h2= t('profistory.views.list_all.tags')
    %ul
      - @tags.each do |tag|
        %li
          %a{href:to("tags/#{tag[:name]}")} #{tag[:name]}
    %p
      %a{href:to("tags")}= t("profistory.views.list_all.more")
