- if current_user
  - if (@work.users.find(current_user.id) rescue nil)
    - if allowed_to_edit?(@work, current_user)
      %a{href:to("works/#{@work.title_escaped}/edit")}= t('profistory.views.show_work.edit_work')
    - if @work.users.size != 1
      %form{method:'POST',action:to("works/#{@work.title_escaped}/leave")}
        %button{type:'submit',class:'btn btn-default'}= t('profistory.views.show_work.leave')
  - else
    %form{method:'POST',action:to("works/#{@work.title_escaped}/join")}
      %button{type:'submit',class:'btn btn-default'}= t('profistory.views.show_work.join')
%div
  %h1
    = @work.title
    %small
      = @work.description
  %p
    %strong= t('profistory.views.show_work.tags')
    - @work.tags.each do |tag|
      %span.glyphicon.glyphicon-tag
      %a{href:to("tags/#{tag}")}= tag
  %p
    %strong= t('profistory.views.show_work.members')
    - @work.users.each do |user|
      %a{href:to("users/#{user.name}")}= user.screen_name
  %p= "#{@work.date.strftime('%Y-%m-%d')}"
- @work.links.each_with_index do |links, i|
  %div.row
    - links.each do |link|
      %div.col-md-3.profistory-work-link
        %img.favicon{src:'/favicon.ico'}
        %a{href:link,target:'_blank'}= link
  - if i != @work.links.size - 1
    %hr
:javascript
  var width = $('div.row div').width()
  $('div.row a').each(function(i, e) {
    $(e).embedly({
      endpoint: 'extract',
      query: { maxwidth: width },
      key: '19cf7d11f0d14c47b0625df7070823ad',
      done: function(result) {
        console.log(result)
        if(result[0].type == 'image') {
          $(e).prev().remove()
          $(e).html($('<img src="' + result[0].url + '">'))
         } else if(result[0].media && result[0].media.html) {
          $(e).prev().remove()
          $(e).html(result[0].media.html)
        } else {
          if(result[0].favicon_url) {
            $(e).prev().attr('src', result[0].favicon_url)
          }
          if(result[0].title) {
            $(e).html(result[0].title)
          }
          $(e).after('<br />', result[0].description)
        }
      }  
    })
  })
