%div.tilt
  %h1= @user.screen_name
  %p
    %strong tags:
    - @user.tags.each do |tag|
      %a{href:to("tags/#{tag}")}= tag
  - if allowed_to_edit?(@user)
    %a{href:to("works/*/edit")} add work
    &nbsp;|&nbsp;
  %a{href:to("users/#{@user.name}.json")} get json
%div.row.tilt
  - @years.each do |year|
    %div.col-md-4
      %h2= year
      %ul
        - @works.each do |work|
          - if work.date.year == year
            %li
              #{work.date.strftime("%m/%d")}
              %a{href:to("works/#{work.title_escaped}"),alt:work.description}= work.title
