%div
  %h1
    %img{src:gravatar_icon(@user, 36)}
    = @user.screen_name
  %p
    %form.form-inline{role:'form',method:'POST',action:to("users/#{@user.name}")}
      %span.tags
        - @user.tags.each do |tag|
          %code
            %a.tag{href:to("tags/#{tag}")}= tag
        -if @user == current_user
          %a.operation.add-tag{href:'javascript:void(0)'}= @user.tags.empty? ? t('profistory.views.show_user.add_tag') : t('profistory.views.show_user.edit_tag')
      %span.edit-tags{style:'display: none;'}
        %input.form-control.input-sm{name:'tags',type:'text',value:@user.tags.join(", "),placeholder:t('profistory.views.show_user.add_tag_description')}
        %a.operation.cancel-add-tag{href:'javascript:void(0)'}= t('profistory.views.show_user.cancel_add_tag')
%div.row
  - @years.each do |year|
    %div.col-md-4
      %h2= year
      %ul
        - @works.each do |work|
          - if work.date.year == year
            %li
              #{work.date.strftime("%m/%d")}
              %a{href:to("works/#{work.title_escaped}"),alt:work.description}= work.title
:javascript
  $('.add-tag').click(() => {
    $('.edit-tags').show()
    $('.tags').hide()
  })
  $('.cancel-add-tag').click(() => {
    $('.edit-tags').hide()
    $('.tags').show()
  })
