%div
  %h1= @user.screen_name
  %p
    %form.form-inline{role:'form',method:'POST',action:to("users/#{@user.name}")}
      %strong= t('profistory.views.show_user.tags')
      %span.tags
        - @user.tags.each do |tag|
          %a{href:to("tags/#{tag}")}= tag
        -if @user == current_user
          %a.add-tag{href:'javascript:void(0)'}= t('profistory.views.show_user.add_tag')
      %span.edit-tags{style:'display: none;'}
        %input.form-control.input-sm{name:'tags',type:'text',value:current_user.tags.join(", "),placeholder:t('profistory.views.show_user.add_tag_description')}
        %a.cancel-add-tag{href:'javascript:void(0)'}= t('profistory.views.show_user.cancel_add_tag')
  - if @user == current_user
    %a{href:to("works/*/edit")}= t('profistory.views.show_user.add_work')
    &nbsp;|&nbsp;
  %a{href:to("users/#{@user.name}.json")}= t('profistory.views.show_user.get_json')
%div.row
  - @years.each do |year|
    %div.col-md-4
      %h2= year
      %ul
        - @works.each do |work|
          - if work.date.year == year
            %li
              #{work.date.strftime("%m/%d")}
              %a{href:to("works/#{work.title_escaped}"),alt:work.description}= work.title
:javascript
  $('.add-tag').click(() => {
    $('.edit-tags').show()
    $('.tags').hide()
  })
  $('.cancel-add-tag').click(() => {
    $('.edit-tags').hide()
    $('.tags').show()
  })
