- if allowed_to_edit?(@user)
	%a{href:"/#{@user.name}/#{CGI.escape(@work.title)}/edit"} edit work
%div.tilt
	%h1
		= @work.title
		%small
			= @work.description
	%p= "#{@work.date.strftime('%Y-%m-%d')}"
- @work.links.each_with_index do |links, i|
	%div.row.tilt
		- links.each do |link|
			%div.col-md-3{style:'padding-bottom:10px'}
				%img.favicon{src:'/favicon.ico'}
				%a{href:link,target:'_blank'}= link
	- if i != @work.links.size - 1
		%hr
:javascript
	var width = $('div.row div').width()
	$('div.row a').each(function(i, e) {
		$(e).embedly({
			endpoint: 'extract',
			query: { maxwidth: width },
			key: '19cf7d11f0d14c47b0625df7070823ad',
			done: function(result) {
				console.log(result)
				if(result[0].type == 'image') {
					$(e).prev().remove()
					$(e).html($('<img src="' + result[0].url + '">'))
			 	} else if(result[0].media && result[0].media.html) {
					$(e).prev().remove()
					$(e).html(result[0].media.html)
				} else {
					if(result[0].favicon_url) {
						$(e).prev().attr('src', result[0].favicon_url)
					}
					if(result[0].title) {
						$(e).html(result[0].title)
					}
					$(e).after('<br />', result[0].description)
				}
			}	
		})
	})
